.interface{
    padding: 10px 23px;
    align-items: center;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.emotional{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 175px;
    height: 91px;
    /*position: absolute;*/
    padding: 7px 12px;
}
.progress{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.progress-bar{
    background: #FFFFFF;
    border-radius: 100px;
    width: 152px;
    height: 8px;

}

.success{
    width: 70%;
    height: 100%;
    border-radius: 100px;
    background: #4EF387;
}

.money {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: 150px;*/
}

.coin {
    width: 36px;
    height: 36px;
}