

.wrapper{
    margin: 0 auto;
    background-image: url("../../images/mainback.jpg");
    background-size: cover;
    background-position: center center;
    width: 100vh;
    height: 100vh;
    /*position: relative;*/
}

.mainpic{
    position: absolute;
    width: 410px;
    height: 410px;
    bottom: 60px;
    left: 0;

}