* {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    width: 100%;
    /*background: -webkit-linear-gradient(90deg, #fef1d9,#c7e0f3);*/

    height: 100vh;
}

body {
        overflow: hidden;
    /*width: 100%;*/


    color: var(--tg-theme-text-color);
}


