* {
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    width: 100vh;
    /*background: -webkit-linear-gradient(90deg, #fef1d9,#c7e0f3);*/

    height: 100vh;
}

body {

    /*width: 100%;*/


    color: var(--tg-theme-text-color);
}

